@import "tailwindcss";

/* body {
  background-image: linear-gradient(
    to top,
    #fff1eb 0%,
    #ace0f9 100%
  ) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
} */
@font-face {
  font-family: "poppins";
  src: url("./assets/font/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dmsans";
  src: url("./assets/font/DMSans/static/DMSans-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-poppins: poppins, "sans-serif";
  --font-dmsans: dmsans, "sans-serif";
}

.navbar {
  @apply p-4 w-full flex justify-between items-center font-bold;
}
